<!-- 
<div class="container">
   <div class="row">
      <div class="col-md-6">
         <div class="row">
            <div class="col-md-6 ">
               <div class="logo-part">
                  <h2>Flipxon</h2>
                  <br>
                  <p>DLF Cyber City, DLF Phase 2, Sector 24, Gurugram, Haryana 122010</p>
               </div>
            </div>
            <div class="col-md-6 px-4">
               <h6> About Company</h6>
               <a href="#" class="btn-footer"> More Info </a><br>
               <a href="#" class="btn-footer"> Contact Us</a>
            </div>
         </div>
      </div>
      <div class="col-md-6">
         <div class="row">
            <div class="col-md-6 px-4">
               <h6> Help us</h6>
               <div class="row ">
                  <div class="col-md-6">
                     <ul>
                        <li> <a href="#"> Home</a> </li>
                        <li> <a href="#"> About</a> </li>
                        <li> <a href="#"> Service</a> </li>
                        <li> <a href="#"> Team</a> </li>
                        <li> <a href="#"> Help</a> </li>
                        <li> <a href="#"> Contact</a> </li>
                     </ul>
                  </div>
                  <div class="col-md-6 px-4">
                     <ul>
                        <li> <a href="#"> Cab Faciliy</a> </li>
                        <li> <a href="#"> Fax</a> </li>
                        <li> <a href="#"> Terms</a> </li>
                        <li> <a href="#"> Policy</a> </li>
                        <li> <a href="#"> Refunds</a> </li>
                        <li> <a href="#"> Paypal</a> </li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="col-md-6 ">
               <h6> Newsletter</h6>
               <div class="social">
                  <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
               </div>
               <form class="form-footer my-3">
                  <input type="text"  placeholder="search here...." name="search">
                  <input type="button" value="Go" >
               </form>
               
            </div>
         </div>
      </div>
   </div>
</div>
 -->

 <!-- <footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 footer-about wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                    <img class="logo-footer" src="assets/img/logo.png" alt="logo-footer" data-at2x="assets/img/logo.png">
                    <p>
                        We are a young company always looking for new and creative ideas to help you with our products in your everyday work.
                    </p>
                    <p><a href="#">Our Team</a></p>
                </div>
                <div class="col-md-4 col-lg-4 offset-lg-1 footer-contact wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                    <h3>Contact</h3>
                    <p><i class="fas fa-map-marker-alt"></i> Via Rossini 10, 10136 Turin Italy</p>
                    <p><i class="fas fa-phone"></i> Phone: (0039) 333 12 68 347</p>
                    <p><i class="fas fa-envelope"></i> Email: <a href="mailto:hello@domain.com">hello@domain.com</a></p>
                    <p><i class="fab fa-skype"></i> Skype: you_online</p>
                </div>
                <div class="col-md-4 col-lg-3 footer-social wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                    <h3>Follow us</h3>
                    <p>
                        <a href="#"><i class="fab fa-facebook"></i></a> 
                        <a href="#"><i class="fab fa-twitter"></i></a> 
                        <a href="#"><i class="fab fa-google-plus-g"></i></a> 
                        <a href="#"><i class="fab fa-instagram"></i></a> 
                        <a href="#"><i class="fab fa-pinterest"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                   <div class="col-md-5 footer-copyright">
                    <p>© Bootstrap Footer Template by <a href="https://azmind.com">AZMIND</a></p>
                </div>
                   <div class="col-md-7 footer-menu">
                    <nav class="navbar navbar-dark navbar-expand-md">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link scroll-link" href="#top-content">Top</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link scroll-link" href="#section-1">Section 1</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link scroll-link" href="#section-2">Section 2</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link scroll-link" href="#section-3">Section 3</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link scroll-link" href="#section-4">Section 4</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
               </div>
        </div>
    </div>
</footer> -->
<footer class="container-fluid bg-grey py-5">
<div class="container">
    <div class="row">
       <div class="col-md-6">
          <div class="row">
             <div class="col-md-6 ">
                <div class="logo-part">
                   <a href="#"><img src="../../assets/logo.jpg" class="w-50 logo-footer" ></a>
                   <p>7637 Laurel Dr. King Of Prussia, PA 19406</p>
                   <p>Use this tool as test data for an automated system or find your next pen</p>
                </div>
             </div>
             <div class="col-md-6 px-4">
                <h6> About Company</h6>
                <p>But horizontal lines can only be a full pixel high.</p>
                <a href="#" class="btn-footer"> More Info </a><br>
                <a href="#" class="btn-footer"> Contact Us</a>
             </div>
          </div>
       </div>
       <div class="col-md-6">
          <div class="row">
             <div class="col-md-6 px-4">
                <h6> Help us</h6>
                <div class="row ">
                   <div class="col-md-6">
                      <ul>
                         <li> <a href="#"> Home</a> </li>
                         <li> <a href="#"> About</a> </li>
                         <li> <a href="#"> Service</a> </li>
                         <li> <a href="#"> Team</a> </li>
                         <li> <a href="#"> Help</a> </li>
                         <li> <a href="#"> Contact</a> </li>
                      </ul>
                   </div>
                   <div class="col-md-6 px-4">
                      <ul>
                         <li> <a href="#"> Cab Faciliy</a> </li>
                         <li> <a href="#"> Fax</a> </li>
                         <li> <a href="#"> Terms</a> </li>
                         <li> <a href="#"> Policy</a> </li>
                         <li> <a href="#"> Refunds</a> </li>
                         <li> <a href="#"> Paypal</a> </li>
                      </ul>
                   </div>
                </div>
             </div>
             <div class="col-md-6 ">
                <h6> Newsletter</h6>
                <div class="social">
                   <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                   <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
                <form class="form-footer my-3">
                   <input type="text"  placeholder="search here...." name="search">
                   <input type="button" value="Go" >
                </form>
                <p>That's technology limitation of LCD monitors</p>
             </div>
          </div>
       </div>
    </div>
 </div>
 </footer>