<section id="header" class="d-flex align-items-center">
  <div class="container-fluid nav-bg">
      <div class="row">
          <div class="col-10 mx-auto">
<div id="about" class="container text-center">
    <h3>About us</h3>
    <p><em>We love code!</em></p>
    <p>about us goes here</p>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <p class="text-center"><strong>Ace</strong></p><br>
        <a href="#demo" data-toggle="collapse">
          <img src="../../assets/front1.jpg" class="img-square person" alt="code" width="255" height="255">
        </a>
        <div id="demo" class="collapse">
          <p>Always write</p>
          <p>Optimization and Readability code</p>
        </div>
      </div>
      <div class="col-sm-4">
        <p class="text-center"><strong>The</strong></p><br>
        <a href="#demo2" data-toggle="collapse">
          <img src="../../assets/front2.png" class="img-square person" alt="FAANG companies" width="255" height="255">
        </a>
        <div id="demo2" class="collapse">
          <p>Must do coding questions</p>
          <p>from Product based companies</p>
        </div>
      </div>
      <div class="col-sm-4">
        <p class="text-center"><strong>Code</strong></p><br>
        <a href="#demo3" data-toggle="collapse">
          <img src="bandmember.jpg../../assets/front3.jpg" class="img-square" alt="Big theta" width="255" height="255">
        </a>
        <div id="demo3" class="collapse">
          <p>Time and Space complexity</p>
          <p>is crutial part of your code</p>
        </div>
      </div>
    </div>
  </div>
  <br>
<div id="contact" class="container-fluid bg-grey">
    <h2 class="text-center">CONTACT US</h2>
    <div class="row">
      <div class="col-sm-5">
        <p>Contact us and we'll get back to you within 24 hours.</p>
        <p><span class="glyphicon glyphicon-map-marker"></span> Delhi, India</p>
        <p><span class="glyphicon glyphicon-phone"></span> +91 1234567890</p>
        <p><span class="glyphicon glyphicon-envelope"></span> yourprep@gmail.com</p>
      </div>
      <div class="col-sm-7 slideanim">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
          </div>
          <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
          </div>
        </div>
        <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
        <div class="row">
          <div class="col-sm-12 form-group">
            <button class="btn btn-default pull-right" type="submit">Send</button>
          </div>
       </div>
       </div>
    </div>
</div>
</div>
</div>
</div>
</section>